.dark {
    background-color: black;
    color: orange;
}

#heading {
    width: fit-content;
    padding: 2% 2% 2% 2%;
    font-size: 450%;
    border: 2px solid orange;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#heading:hover {
    color: white;
    border-color: blue;
}

#grid {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    align-content: flex-start;
    width: 600px;
    height: 600px;
}

.cell {
    display: inline-block;
    width: 180px;
    height: 180px;
    border: 1px solid white;
    margin: 0;
    padding: 8px 8px 8px 8px;
    text-align: center;
    font-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#startBtn {
    background-color: rgb(0, 44, 44);
}

#startBtn:hover {
    background-color: rgb(0, 32, 5);
    color: rgb(255, 255, 255);
}

.settings {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    height: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
    padding-top: 60px;
    z-index: 1;
    transition: 0.5s;
    overflow-x: hidden;
    width: 0;
    background-color: rgb(47, 47, 47);
    align-content: center;
    text-align: center;
}

.player {
    font-size: 40px;
    background-color:orange;
    color: black;
    border: 1px solid black;
    margin: 8px 8px 8px 8px;
    padding: 8px 8px 8px 8px;
}

.icon {
    width: 30px;
}

.player > div {
    margin: 8px 8px 8px 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: solid 2px white;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    font-size: 35px;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

#mainNav {
    font-size: 80px;
    width:80px;
    position: fixed;
}

.navbtn:hover{
    color: rgb(109, 83, 255);
}

.navbtn {
    font-size: 60px;
    display: block;
    overflow: hidden;
}

select, option,button {
    font-size: 35px;
    background-color: orange;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
}

select:hover, option:hover, button:hover {
    background-color: yellow;
    color: black;

}


